#informacoes--container > p{
    font-size: 18px;
    font-weight: 600;
    /* font-family: 'Lora', serif; */
    letter-spacing: 1px;
    line-height: 18px;

    margin-bottom: 10px;
}

#consultas--funcionalidades-container{
    margin:15px 0px;
}

#consultas--funcionalidades-container a{
    margin:0px 15px;
}

#consultas--container{
    height: 65vh;
    overflow-x: hidden;
    overflow-y: scroll;
    border: 2px ridge #88888857; 
}
/* Consulta */
.corpo--consultas-container{
    border-right: 1px solid #88888857;
}

.consulta--container > h3{
    margin:10px 0px;
}

.consulta--container > p{
    margin: 15px auto;
    max-width: 70%;
}

.informacoes--consulta > p{
    margin: 2px auto;
}
/* #consultas--container > .consulta--container:last-child > hr{
    display: none;
} */

.descricao--consulta{
    font-size: 0.8em;
    font-weight: 200;
    font-style: italic;
}

/*Consulta detalhada*/
#consulta--detalhada-container{
    display: grid;
    row-gap: 4px;
    grid-template-rows: 15% 20% 25% 30%;
    padding: 3% 5% 5% 5%;
}

.informacoes--paciente , .informacoes--medico{
    grid-row-gap: 10px;
}

.link--endereco{
    margin: 10px 0px;
    font-weight: 600;
    font-size: 14px;
    text-decoration: underline;
}

@media only screen and (max-height:700px){
    #consulta--detalhada-container{
        overflow: auto;
        display: block; 
    }
}

@media only screen and (max-width:1200px){
    #consulta--detalhada-container{
        padding: 0% 0% 8% 0%;
    }
}