@import url('https://fonts.googleapis.com/css?family=Quicksand');
/* @import url('https://fonts.googleapis.com/css?family=Lora'); */
/*
Cores :
Cinza
    #8C8C8C
    #DBDBDB
    #AAAAAA
    #F6F6F6
    #FFFFFF
    #B8B8B8
Azul 
    #A3CFE7
    #95BFD6
    #86A7BA
    #A1CCE4
Verde
    #D4F0DB
*/

*{
    box-sizing: border-box;
    margin:0px;
    padding:0px;
    font-family: 'Quicksand';
    color: #8C8C8C;
    /* color: #FFFFFF; */
}
/* 
#root{
    background-color: #8C8C8C;
} */

/*Tags*/

a{
    text-decoration: none;
}

a:hover{
    color:#B8B8B8;
}

p , span, input::placeholder{
    letter-spacing: 5px;
    font-size: 14px;
}

p{
    letter-spacing: 1px;  
}

span{
    text-decoration: none;
    letter-spacing: 0px;
}

h1, h2 , h3 , h4 ,h5 ,h6 {
    font-weight: 400;
    letter-spacing: 5px;
}

h2{
    font-size: 1.250em;
}

h3 , h4 , h5 , h6{
    letter-spacing: 1px;
}

hr{
    max-width: 90%;
    margin:10px auto;
}
/* Label */
label{
    text-align: left;
    font-weight: 600;
}
/* inputs */
input{
    border:none;
    border-bottom: 1px solid #DBDBDB;
    /* margin-top: 20px; */
    padding-left: 2px;
    padding-bottom: 3px;
}

input:not([type=submit]):focus{
    outline: none;
    border-bottom: 1px solid #AAAAAA;
}

input:not([type=submit]):focus:invalid{
    outline: none;
    border-bottom: 1px solid red;
}

input::placeholder{
    font-size: 1.05em;
}

input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none;
}

/* Text areas */
textarea{
    resize: none;
    width: 300px;
    height: 200px;
}

/* Botão formulario */
input[type=submit]{
    margin: 0px auto 0px auto;
    padding: 10px 10px;
    width: 70%;
    border-radius: 5px;
    
    background-color: #A3CFE7;
    color:#FFFFFF;
    letter-spacing: 5px;
}

input[type=submit]:hover{
    cursor: pointer;
    background-color: #95BFD6;
}

input[type=submit]:focus{
    outline: none;
    background-color: #86A7BA;
}
/* Grid*/
.grid--container{
    display: grid;
}

.grid--container-corpo{
    grid-template-columns: 50% 50%;
}

.grid--container-cabecalho{
    grid-template-columns: 70% 10% 10% 10%;
}

.grid--container-informacoes{
    grid-template-columns: 33% 33% 33%;
}

/* Sombra*/
.sombreado{
    box-shadow: rgba(0, 0, 0, 0.25) 0px 4px 11px;
    background-color: white;
}

/* Icone SP medical group*/
.icone--spmedgroup{
    background: url("../imagens/publicas/icon-login.png") no-repeat center center;
    background-size: contain;
}

/* Cabecalho */
#cabecalho{
    padding: 10px 0px;
    /* background-color:#FFFFFF; */
}

#cabecalho nav{
    padding-top:10%;
    text-align: center;
}

#cabecalho a{
    text-align: center;
    font-size: 1.15em;
}

#cabecalho .icone--spmedgroup{
    height: 50px;
    width: 10%;
    text-align: left;
}
/* Corpo */

.corpo--centralizado{
    margin: auto;
    text-align: center;
    padding: 5% 5%;
    min-height: 90vh;
    max-height: 90vh;
    max-width: 70%;
    overflow: hidden;
}

/* Feedback */
.mensagem--erro{
    color:red;
}

.mensagem--sucesso{
    font-size: 15px;
    font-weight: 600;
    color:rgb(115, 223, 142);
}

.mensagem--aviso{
    color:#8C8C8C;
}

.mensagem--aviso-grande{
    color:#8C8C8C;
    margin: 20px auto;
}

/* Link */
.link{
    text-decoration:underline;
    cursor: pointer;
}

.link:hover{
    text-decoration:none;
}

/* Botão */
button{
    padding:2%;
    margin:10px 0px;

    border:none;
    border-radius: 10px;
    background-color: #95BFD6;
    color:#FFFFFF;

    cursor: pointer;
}

button:hover{
    background-color: #A1CCE4;
}

button:active , button:focus{
    outline: none;
}

/* Formularios */

.corpo--formulario {
    padding: 3% 5%;
    min-width: 45%;
    min-height: 70%;
}

.corpo--formulario > .icone--spmedgroup{
    height: 120px;
    width: 100%;
    margin-bottom: 8%;
}

.corpo--formulario > form{
    grid-template-columns: 100%;
    grid-row-gap: 20px;
    margin-top: 8%;
    margin-bottom:5%;
}

/* Especifico para cadastro */
.corpo--formulario.cadastro{
    width: 50%;
    min-height: 30%;
}

.corpo--formulario.cadastro > form{
    grid-row-gap: 15px;
}

/* Tabela */
.tabela-corpo{
    overflow-y: auto;
    height: 650px;
} 

.tabela{
    margin: auto;
    min-width: 90%;
    /* max-width: 90%; */
    border-collapse: collapse;
    cursor: default;
    table-layout: fixed;
    text-align: left;
}

.tabela td{
    padding: 10px;
}

.tabela thead td {
    background-color: #95BFD6;
}

.tabela tr:nth-child(even){
    background-color: #D4F0DB;
}

/* Admin */
.opcoes--cadastrar{
    margin: 20px auto;
    display: grid;
    grid-row-gap: 10px;
}

.opcoes--cadastrar a{
    margin: auto;
    width: 30%;
    font-size: 1.2em;
    border: 1px solid #B8B8B8;
}

.opcoes--cadastrar a:hover{
    border: 1px solid #8C8C8C;
}

.descricao--consulta > textarea{
    width: 400px;
    height: 150px;
}